<div class = "container mt-3">

  <h3>マイページ</h3>

  <h5>登録情報</h5>
  <div class= "pt-1"><%= link_to "編集する", customers_edit_path, class: "btn btn-sm btn-success"  %></div>

  <table class = "table table-bordered mt-3">

    <thead class="table-secondary">
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        <td><%= @customer.postal_code %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.telephone_number %></td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>



  <h5 class= "mt-3">配送先</h5>
  <%= link_to "一覧を見る", addresses_path, class: "btn btn-sm btn-primary"  %>

  <h5 class= "mt-3">注文履歴</h5>
  <%= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-primary"  %>

</div>