
  <div class="container">
    <h4>商品編集</h4>

        <%= form_with model:@item, url: admin_item_path(@item.id) do |f| %>

        <div class="row">

          <div class="col-2">
            <div class= "pt-1">商品画像</div>
            <div class= "pt-1">商品名</div>
            <div class= "pt-3">商品説明</div>
            <div class= "pt-4">ジャンル</div>
            <div class= "pt-1">税抜価格</div>
            <div class= "pt-1">販売ステータス</div>
          </div>

          <div class="col-10">
            <div>
            <%= f.file_field :image,accept: "image/*" %>
            </div>
            <div>
            <%= f.text_field :name %>
            </div>
            <div>
            <%= f.text_area :introduction %>
            </div>
            <div>
            <%= f.collection_select :genre_id, Genre.all, :id, :name %>
            </div>
            <div>
            <%= f.text_field :price %>円
            </div>
            <div>
            <%= f.radio_button :is_active, 'true' %>
            <%= f.label :is_active, '販売中', value: true %>
            <%= f.radio_button :is_active, 'false' %>
            <%= f.label :is_active, '販売停止中', value: false %></br>
            <%= f.submit"変更を保存", class: "btn btn-sm btn-success" %>
            </div>
          </div>

        </div>
        <% end %>

  </div>