<!--ジャンル追加機能-->
<h5>ジャンル一覧・追加</h5>

<%= form_with model:@genre, url: admin_genres_path do |f| %>
  <div>ジャンル名</div>
  <%= f.text_field :name %>

  <%= f.submit '新規登録', class: "btn btn-sm btn-success" %>
<% end %>

<!--ジャンル一覧機能-->

  <table class= "table">

    <thead>
      <tr>
        <th>ジャンル</th>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= paginate @genres %>


