
     <div class= "container mt-3">

          <h4>配送先編集</h4>

          <%= form_with model:@address,url: address_path,method: :patch do |f| %>

               <div class= "mt-3">郵便番号（ハイフンなし）</div>
               <%= f.text_field :postal_code %>

               <div class= "mt-3">住所</div>
               <%= f.text_field :address %>

              <div class= "mt-3">宛名</div>
              <%= f.text_field :name %>

              <%= f.submit "変更内容を保存", class: "btn btn-sm btn-success" %>

          <% end %>

     </div>