
  <div class= "container">
    <h4 class= "font-weight-bold">商品一覧</h4>

    <div>
    (全<%= @items.count %>件)
    </div>

    <div class= "d-flex flex-wrap mt-3">
          <% @items.each do |item| %>

          <div style="width:20%; margin-right:2%">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(200,100) %></br>
            <% end %>

            <div>
              <%= item.name %>
            </div>

            <div>
              ￥<%= item.price %>
            </div>

          </div>
          <% end %>
    </div>

    <%= paginate @items %>
  </div>
