<div class="container text-center mt-5">
  <div class="row">

      <div class="col-lg-5">
        <%= image_tag @item.get_item_image(300,300) %>
      </div>

      <div class="col-lg-5">

        <h3 class= "item_name">
          <%= @item.name %>
        </h3>

        <div class= "item_introduction mt-3">
          <%= @item.introduction %>
        </div>

        <div class= "item_price mt-5">
          ￥<%= @item.add_tax_price %>(税込)
        </div>

        <% if @item.is_active == true %>

          <%= form_with model: @cart_item, url:cart_items_path, method: :post do |f| %>

            <%= f.hidden_field :item_id, :value => @item.id %>

            <%= f.select :amount, [['1個',1],['2個',2],['3個',3],['4個',4],['5個',5],['6個',6],['7個',7],['8個',8],['9個',9],['10個',10]], :prompt => "個数選択" %>

            <%= f.submit "カートに入れる", class: "btn btn-sm btn-success" %>

          <% end %>

        <% else %>

          <div class= "text-danger font-weight-bold mt-3">売り切れ</div>
        <% end %>

      </div>
  </div>
</div>
